<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">   <!-- указываем, что это thymeleaf файл -->
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<!-- html не поддерживает PATCH, thymeleaf поддерживает(использует скрытое поле). Spring найдет PATCH через фильтр -->
<form th:method="PATCH" th:action="@{/users/{id}(id=${existingUser.getId()})}" th:object="${existingUser}">
<!--    <input type="hidden" name="_method" value="PATCH"/>-->       <!-- формат скрытого поля для фильтра в Spring -->
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname:</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="salary">Enter salary:</label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <br/><br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>