<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">   <!-- указываем, что это thymeleaf файл -->
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${newUser}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname:</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="salary">Enter salary:</label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <br/><br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>