<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>

<p th:text="${user.getId()}"></p>
<p th:text="${user.getUsername()}"></p>
<p th:text="${user.getRoles()}"></p>

<!-- кнопка с GET запросом на изменение User-->
<a th:href="@{/admins/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admins/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>